BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 0
UseTab: Never
IndentWidth: 4
IndentCaseLabels: false
IncludeCategories:
  - Regex:           '^"global\.h"$'
    Priority:        -3
  - Regex:           '^"gba/gba\.h"$'
    Priority:        -2
  - Regex:           '^"gba/'
    Priority:        -1
  - Regex:           '.\*'
    Priority:        1
