*.pal text eol=crlf

*.s text eol=lf
*.txt text eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.c text eol=lf
*.h text eol=lf
*.pl text eol=lf
*.inc text eol=lf
*.sha1 text eol=lf
*.sed text eol=lf

*.png binary
*.bin binary

*.h linguist-language=C
*.inc linguist-language=Assembly
docs/* linguist-vendored
# most of the assembly count comes from huge amounts of script include files: it is not fair to count these as assembly. as such, we will instead vendor these. Note that they do take up the majority of the repository.
data/maps/** linguist-vendored
data/scripts/** linguist-vendored
data/battle_ai_scripts.s linguist-vendored
data/battle_anim_scripts.s linguist-vendored
data/battle_scripts_1.s linguist-vendored
data/battle_scripts_2.s linguist-vendored
data/contest_ai_scripts.s linguist-vendored
data/field_move_scripts.inc linguist-vendored
data/field_effect_scripts.s linguist-vendored
data/event_scripts.s linguist-vendored
data-de/maps/** linguist-vendored
data-de/event_scripts.s linguist-vendored
data-de/field_move_scripts.s linguist-vendored
# sound data
sound/songs/*.s linguist-vendored
